@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

/*font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

:root {
    --color-black: #101112;
    --color-primary: #00804B;
    --font-primary: 'Ubuntu', sans-serif
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    
}

.max-width {
    max-width: 1300px;
    padding: 0 70px;
    margin: auto;
    
    
}


/****************
 SECTION-HOME
*****************/

 .header {
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    
}

 .header.sticky {
    background-color: var(--color-primary);
    transition: all 0.3s ease;
    
   

}

.header .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.header .logo h1 {
    font-family: var(--font-primary);
    font-size: 35px;
    letter-spacing: -1px;

}

.header .logo h1 span {
    color: var(--color-primary);
}

.header.sticky .logo h1 span {
    color: white;
    transition: all 0.3s ease;
}

.header .navbar ul  {
    display: flex;
    padding: 30px;
    
}

.header .navbar ul li a {
    margin: 0 10px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    transition: color 0.3s ease;
}

.header.sticky .navbar ul li a:hover {
    color: white;
}

.header .navbar ul li a:hover {
    color: var(--color-primary);
}

/****************
 HOME -- MENU-BTN 
*****************/

.menu-btn {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    display: none;
    margin: 20px 50px;
   
}

.scroll-up-btn {
    width: 45px;
    height: 45px;
    position: fixed;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    right: 30px;
    bottom: 10px;
    border-radius: 6px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
}


.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

/****************
 SECTION-HOME-INFO
*****************/

.home-article {
    height: 110vh;
    background-color: var(--color-black);
}

.home-article .info {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    

}

.home-article .info-image .diego {
    width: 380px;
    border-radius: 25% 54% 89% 70%;
    border: 2px solid var(--color-primary) ;
    margin-top: 100px;
    
}


.home-article .info .info-content {
    margin-top: 50px;
}

.home-article .info .info-content h1 {
    font-size: 75px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: 15px;
}

.home-article .info .info-content h2 {
    font-family: var(--font-primary);
    font-weight: 200;
    font-size: 28px;
    
    
}

.home-article .info .info-content h3 {
    font-size: 40px;
    font-family: var(--font-primary);
    font-weight: 500;
}

.home-article .info .info-content h3 span {
    color: var(--color-primary);
}


.home-article .info .info-content .repositories {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 50px;
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 500;
    display: block;
    max-width: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 25px;
    
}

.home-article .info .info-content .repositories:hover {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
    text-decoration:underline;
    
    
}


/****************
 SECTION -- SKILLS 
*****************/


.skills {
    height: 145vh;

}

.skills .header-content-skills {
    display: flex;
    justify-content: center;
}




.skills .header-content-skills .header-info {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills .header-content-skills .header-info .header-study {
    display: flex;
    
    

}


.skills .header-content-skills .header-info .header-study .study-process,
.skills .header-content-skills .header-info .header-study .study-done- {
    width: 50%;
    
}

.skills .header-content-skills .header-info .header-study .study-process ,
.skills .header-content-skills .header-info .header-study .study-done- {
    display: flex;
    justify-content: center;
    font-weight: 200;

}

.skills .header-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .header-info .h23 {
    color: black;
    font-size: 40px;
    font-family: var(--font-primary);
    margin: 80px 0 50px 20px;
    border-bottom: 3px solid var(--color-primary);
    width: fit-content;
    
    
}

.skills .header-info .header-study {
    width: 100%;
}

.skills .header-info h2 {
    color: black;
    font-size: 40px;
    font-family: var(--font-primary);
    text-align: center;
    margin: 80px 0 50px 20px;
    
    
    
}


.skills .content-skills {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    
}

.skills .content-skills .title {
    background-color: black;
}

.skills .skills-done {
    background-color: var(--color-primary);
    max-width:50%;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    padding: 50px 10px;
    height: 89vh;
    
}

.skills .skills-study {
    background-color: var(--color-primary);
    max-width:50%;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    padding: 50px 10px;
    height: 89vh;
}




.skills .content-skills .skills-logo img {
    width: 140px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 30px;
    background-color: rgba(16, 17, 18, 0.7);
    text-align: center;

}

.skills .content-skills .skills-logo:hover {
    transform:scale(1.2);
    transition: all 0.5s ease;
    
}

.skills .content-skills .skills-logo h3 {
    max-width: 150px;
    padding: 7px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    font-weight: 200;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}


/***********************
PROJECTS
************************/

.my-projects {
    height: 100vh;
    background-color: var(--color-black);
}

.my-projects .header-content {
    display: flex;
    justify-content: center;
   
}

.my-projects .header-content h2 {
    font-size: 40px;
    border-bottom:3px solid var(--color-primary);
    width: 160px;
    text-align: center;
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
}


.projects .content-self {
    width: 30vh;
    height: 60vh;
    margin-top: 100px;
    margin-right: 40px;

}

.projects .content-self:hover {
    width: 35vh;
    height: 65vh;
    transition: all 0.8s ease;
}


.projects .container-projects {
    display: flex;
    margin: 30px;
    justify-content: center;
}

.projects .content-self .content-projects1 {
    background-image: url(../img/projects-img/barbershop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 90%;
    margin-top: 30px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    
}

.projects .content-self .content-projects2 {
    background-image: url(../img/projects-img/projeto-menu.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 90%;
    margin-top: 30px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    
}

.projects .content-self .content-projects3 {
    background-image: url(../img/projects-img/fiauxlinktree.png);
    background-size:cover;
    background-position: 50%;
    width: 100%;
    height: 90%;
    margin-top: 30px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    
}


.projects .content-self .content-projects4 {
    background-image: url(../img/projects-img/todolist.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    margin-top: 30px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    
}



.projects .content-self  .button-projects {
    background-color: var(--color-primary);
    padding: 10px 80px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 200;

}

.projects .content-self .button-projects:hover {
    background-color: transparent;
    transition: all 0.5s ease;
    border: 1px solid var(--color-primary);
    text-decoration: underline;
    color: var(--color-primary);
}


/****************
 SECTION -- CONTACTS
*****************/


.contacts {
    
    color: black;
}

.contacts .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts .contact-header h2 {
    color: var(--color-black);
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 3px solid var(--color-primary);
    width: fit-content;
    margin: 70px 0;

}

.contacts .contact-header h2 span {
    color: var(--color-primary);
}



.contacts .contact-content h4 {
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: 20px;
}

.contacts .contact-content p {
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    text-indent: 35px;
    text-align: justify;
    font-weight: 300;
    letter-spacing: -0.7px;
}

.contacts .contact-content p span {
    color: var(--color-primary);
    font-weight: 400;
    margin: 0 6px;
}

.contacts .contact-content .content-infor {
    display: flex;
}

.contacts .contact-content .content-infor .icon {
    font-size: 25px;
    color: var(--color-primary);
    margin-right: 15px;
   
}

.contacts .contact-content .content-infor .name-info {
    margin: 15px 0;
    
}

.contacts .content-master {
    display: flex;
}


.contacts .contact-content .content-infor .name-info h5 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    

}

.contacts .contact-content .content-infor .name-info h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px ;
}

.contacts .contact-content .content-infor .name-info h1 a {
    padding: 2px 8px;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}





.contacts .content-master .content-form .mensagem {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.contacts .content-master .content-form .fields {
    display: flex;
}



.contacts  .content-form .field-name input,
.contacts  .content-form .field-email input {
    padding: 13px 54px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    border: 1px solid gray;
    
    
}

.contacts  .content-form .field input {
    padding: 13px;
    width: 100%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    border: 1px solid gray;

}

.contacts .content-master .location-map {
    border: 2px solid var(--color-primary);
    width: 100%;
    height: 55vh;
}

.contacts .content-master .location-map iframe {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary);
}

/****************
FOOTER
*****************/

.footer {
    background-color: var(--color-black);
    padding-top: 30px;
    margin-top: 150px;
    text-align: center;
    
}

.footer h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.footer h5 span {
    color: var(--color-primary);
}







   
    





















/****************
 RESPONSIVE HOME
*****************/
@media (max-width: 750px) {

    .home-article .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .home-article .info .info-image .diego {
        display: none;
    }

    .home-article .info .info-content {
       margin-top: 200px;
    }

    .header .header-content .navbar   {
        position: fixed;
        left: -100%;
        top: 0;
        background-color: var(--color-black);
        width: 100%;
        height: 100vh;
        text-align: center;
        margin: auto;
        transition: all 1s ease;
    }

    .header .header-content .navbar.active{
        left: 0;
        transition: all 1s ease;
    }

    .header .header-content {
        height: 70px;
    }

  

    .header .header-content .navbar .menu  {
        display: block;
        
    }

    .header .header-content .navbar .menu li a {
        font-size: 30px;
    }

    .header .header-content .navbar .menu li   {
        margin-bottom: 20px;

    }

   .menu-btn {
       position: fixed;
       display: block;
       right: 0;
       top: 0;
   }


}


/****************
 RESPONSIVE SKILLS
*****************/

@media (max-width: 1100px) {
    .content-skills {
        max-height: 400px;
    }

    .content-skills .skills-done .skills-logo img  {
        width: 120px;
   
    }

    .content-skills .skills-study, 
    .content-skills .skills-done {
        max-height: 550px;
    }

    .content-skills .skills-study .skills-logo img   {
        width: 120px;
    }

    .header-content-skills .header-study .study-done-,
    .header-content-skills .header-study .study-process {
        margin-top: 0;
    }


    .projects .content-self {
        width: 18vh;
        height: 60vh;
        margin-top: 100px;
        margin-right: 40px;
    
    }




}


@media (max-width: 950px) {
    .content-skills .skills-done .skills-logo img,
    .content-skills .skills-study .skills-logo img   {
        width: 90px;
        
    
    }

    .content-skills .skills-done .skills-logo,
    .content-skills .skills-study .skills-logo {
        width: 90px;
        margin: 10px;
    }
   
}

@media (max-width: 850px) {
    .header-content-skills .header-study .study-done-,
    .header-content-skills .header-study .study-process {
        margin-bottom: 50px;
        font-size: 30px;
    }

    .content-skills .skills-study, 
    .content-skills .skills-done {
        margin: 0 10px;
        display: flex;
    }

    .projects .content-self {
        width: 30%;
        height: 50vh;
        margin-top: 100px;
    }

    .projects .content-self .button-projects {
        padding: 10px 20px;
    }


}

@media (max-width: 700px) { 

   

    .content-skills .skills-done .skills-logo img,
    .content-skills .skills-study .skills-logo img   {
        width: 60px;
        margin: 0;
        padding: 5px;
    }
    .content-skills .skills-done .skills-logo,
    .content-skills .skills-study .skills-logo {
        width: 50px;
        margin: 10px;
        padding: 0;
    }
}




@media (max-width: 550px) {
    .content-skills .skills-study {
        display: none;
    }

    

    .header-content-skills .header-info .study-process  {
        position: fixed;
        left: -100%;

    }

    .header-content-skills .header-study {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .content-skills .skills-done   {
        max-width: 300px;
        max-height: 600px;
        margin-top: 50px;

    }

    .content-skills .skills-done .skills-logo img {
        width: 120px;
       
    }

    .content-skills .skills-done .skills-logo {
        width: 50px;
        margin-right: 70px;
    }

}

@media (max-width: 500px) {
    .content-skills .skills-study {
        display: none;
    }

    .header-content-skills .header-info .study-process  {
        position: fixed;
        left: -100%;

    }

    .content-skills .skills-done   {
        max-width: 300px;
        max-height: 800px;
        margin-top: 50px;

    }

    .header-content-skills .header-study {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

}

@media (max-width: 450px) {
    .content-skills .skills-done .skills-logo  img {
        display: none;
    }
}


/***********************
 RESPONSIVE PROJECTS
************************/


 

    


